/* fadeIn effect */
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
/* fadeOut effect */
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

header h1 {
  color:rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
header h2 {
  color:rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
label.form-check-label {
  color: white;
  text-align: right;
}
.brewery-type-data {
  text-transform: capitalize;
}
body {
  width: auto;
  height: auto;
  min-height: 100%;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
div {
  border-radius:  15px;
  padding-bottom: 10px ;
  padding-left:   20px;
  padding-right:  20px;
}
div#search-container {
  border: black 5px solid;
}
div#results-container {
  /* margin-left: 10px;
  margin-right: 10px; */
  border: black 5px solid;
}
div#navigate-results-buttons {
  border: black 4px solid;
}
div#detail-container {
  border: black 3px solid;
}
div#my-breweries-container {
  border: rgb(129, 123, 123) 3px solid;
}
header {
  background-image: url("./img/kangabrewheader.jpg");
  min-height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
tr.active {
  background-color: #e4db92;
}

footer {
  border-top: 3px black solid;
}

h2#brewery-type{
  text-transform: capitalize;
}


#error-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 156, 156, 0.5);
  z-index: 9999;
}

#error-message {
  position: fixed;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(196, 112, 112, 1);
  border-radius: 20px;
  border: yellow 5px dashed;
  z-index: 9999;
}